<!DOCTYPE html>
<html>
<style>
    table {
        border: 2px solid black;
        border-collapse: collapse;
        width: 1200px
    }
    
    th {
        height: 25px;
        border: 2px solid black;
        border-collapse: collapse;
    }
    
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<head>
    <title>Questions List</title>
</head>

<body>
    <h3>List of Questions</h3>

    <form action="./newquestion" method="POST">
        <input type="submit" value="Ask new Question" />
    </form>
    <p></p>
    <table>
        <tr>
            {% for cell in header_row %}
            <th>{{ cell }}</th>
            {% endfor %}
        </tr>
        {% for row in question_table %}
        <tr>
            <td>{{ row[0] }}</td>
            <td><a href="./question/{{row[0]}}">{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td width:"300px">{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td><a href='./question/{{row[0]}}/vote-up'>Vote_UP
        <a href='./question/{{row[0]}}/vote-down'>Vote_DOWN</td>
        <td>{{ row[1] }}</td>
        <td style="border:2px solid black; border-collapse: collapse;">
            <form action="./question/{{ row[0] }}/delete" method="POST">
                <input type="submit" value="Delete" />
            </form>
        </td>
        </tr>
         
        {% endfor %}
        
    </table>


</body>

</html>