<html>

<head>
    <title>Question details</title>
    <style>
        table {
            border: 2px solid black;
        }
        
        th {
            border: 1px solid black;
        }
        
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div>
        <h3>{{question_title}}</h3>
        <p>{{question_message}}</p>
        <p>Details</p>
        <table>
            <tr>
                <th align="center">ID</th>
                <th align="center">Time</th>
                <th align="center">Views</th>
                <th align="center">Vote</th>
            </tr>
            <tr>
                <td>{{question[0]}}</td>
                <td>{{question[1]}}</td>
                <td>{{question[2]}}</td>
                <td>{{question[3]}}</td>
            </tr>
        </table>
        <p>Answers</p>
        <form action=./{{question_id}}/new-answer method="POST">
            <p><input type="submit" name="newanswer" value="New answer" id="newanswer"></p>
        </form>
        <table>
            <tr>
                <th align="center">ID</th>
                <th align="center">Answer</th>
            </tr>
            {% for row in answers %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[4]}}</td>
            </tr>
            {% endfor %}
        </table>

</body>

</html>