<!DOCTYPE html>
<html>

<head>
    {% if question_id %}
    <title>Edit Question</title>
    {% else %}
    <title>New Question</title>
    {% endif %}
</head>

<body>
    {% if question_id %}
    <form action="/question/{{question_id}}/edit-submit" , method="POST">
        {% else %}
        <form action='/newquestion' , method="POST">
            {% endif %}
            <p></p>
            {% if question_id %}
            <h3>Edit Question</h3>
            {% else %}
            <h3>New Question</h3>
            {% endif %}
            <label for="title">Question Title</label><br>
            <input type="text" size="30" name="title" id="title" value='{{title}}'>
            <p><label for="story">Question</label><br>
                <textarea name="message" id="message" rows="5" cols="40">{{message}}</textarea></p>
            {% if question_id %}
            <p><input type="submit" value="Edit Question"></p>
            {% else %}
            <p><input type="submit" value="Add new Question"></p>
            {% endif %}
        </form>
</body>

</html>