<html>

<head>
    <title>Question details</title>
    <style>
        table {
            border: 2px solid black;
        }
        
        th {
            border: 1px solid black;
        }
        
        td {
            border: 1px solid black;
        }
        
        h2 {
            color: seagreen;
        }
    </style>
</head>

<body>
    <div>
        <h2>{{question_title}}</h2>
        <p>
            <h3>{{question_message}}</h3>
        </p>
        <p>
            <h2>Details</h2>
        </p>
        <table>
            <tr>
                <th align="center">ID</th>
                <th align="center">Time</th>
                <th align="center">Views</th>
                <th align="center">Vote</th>
            </tr>
            <tr>
                <td>{{question[0]}}</td>
                <td>{{question[1]}}</td>
                <td>{{question[2]}}</td>
                <td>{{question[3]}}</td>
            </tr>
        </table>
        <form action=./{{question_id}}/edit method="GET">
            <p><input type="submit" name="editquestion" value="Edit question" id="editquestion"></p>
        </form>
        <p>
            <h2>Answers</h2>
        </p>

        <table>
            <tr>
                <th align="center">ID</th>
                <th align="center">Time</th>
                <th align="center">Answer</th>
                <th align="center">Votes</th>
            </tr>
            {% for row in answers %}
            <tr>
                <td align="center">{{row[0]}}</td>
                <td align="center">{{row[1]}}</td>
                <td align="center">{{row[4]}}</td>
                <td align="center">{{row[2]}}</td>
                <td>
                    <br>
                    <form action="/answer/{{ row[0] }}/vote-up" method="POST">
                        <input type=hidden value="{{question_id}}" name="questionid" />
                        <input align="center" type="submit" value="Vote-UP" />
                    </form>
                    <form action="/answer/{{ row[0] }}/vote-down" method="POST">
                        <input type=hidden value="{{question_id}}" name="questionid" />
                        <input align="center" type="submit" value="Vote-DOWN" />
                    </form>
                </td>
                <td style="border:2px solid black; border-collapse: collapse;">
                    <form action="/answer/{{ row[0] }}/delete" method="POST">
                        <input type=hidden value="{{question_id}}" name="questionid" />
                        <input align="center" type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <form action=./{{question_id}}/new-answer method="GET">
            <p><input type="submit" name="newanswer" value="New answer" id="newanswer"></p>
        </form>

</body>

</html>